extends ../layout

block content 
    .pestanas 
        .pestana 1. Pacientes Internados
        .pestana.activa2 2. Registro
        .pestana 3. Historial Médico
    .contenido-pestana#recepcion
        h2 Datos Basicos del Paciente               
        p#texto Información inicial de la admisión del paciente.

        form#formulario-registro(action="/enfermeria/registro" method="POST")            
            h3 Datos del Paciente
            span           
            .formulario-grid
                .grupo-formulario
                    label(for="nombre") Nombre                    
                    input(type="text" value=recepciones.Paciente.nombre placeholder="Ingrese el nombre" name="nombre" minlength="3" maxlength="20" required)#nombre

                .grupo-formulario
                    label(for="apellido") Apellido                    
                    input(type="text" value=recepciones.Paciente.apellido placeholder="Ingrese el apellido" name="apellido" minlength="3" maxlength="20"  required)#apellido

                .grupo-formulario 
                    label(for="fecha_nacimiento") Fecha de Nacimiento
                    input(type="date" value=recepciones.Paciente.fecha_nacimiento placeholder="Ingrese la fecha de nacimiento" name="fecha_nacimiento")#fecha_nacimiento
                    
                .grupo-formulario 
                    label(for="genero") Género
                    select#genero(name="genero" required)
                        option(value="") Seleccione...
                        if recepciones.Paciente.genero == 'Masculino'
                            option(value="Masculino" selected) Masculino
                            option(value="Femenino") Femenino
                            option(value="No especificado") No especificado
                        else if recepciones.Paciente.genero == 'Femenino'
                            option(value="Masculino") Masculino
                            option(value="Femenino" selected) Femenino
                            option(value="No especificado") No especificado
                        else  
                            option(value="Masculino") Masculino
                            option(value="Femenino") Femenino
                            option(value="No especificado" selected) No especificado

                .grupo-formulario 
                    label(for="telefono") Numero de Celular
                    input(type="text" value=recepciones.Paciente.contacto_emergencia placeholder="Ingrese el número de celular" name="contacto_emergencia" minlength="10" maxlength="10" )#contacto_emergencia                   
                
                .grupo-formulario 
                    label(for="direccion") Dirección
                    input(type="text" value=recepciones.Paciente.direccion placeholder="Ingrese la dirección" name="direccion" minlength="3" maxlength="30"  required)#direccion                    

                .grupo-formulario 
                    label(for="provincia") Provincia
                        input(type="text" value=recepciones.Paciente.provincia placeholder="Ingrese la provincia" name="provincia"  minlength="3" maxlength="30"  required)#direccion

                .grupo-formulario 
                    label(for="localidad") Localidad
                        input(type="text" value=recepciones.Paciente.localidad placeholder="Ingrese la localidad" name="localidad"  minlength="3" maxlength="30"  required)#direccion

                h3 Datos de la Mutual
                span
                .grupo-formulario                     
                    label(for="seguro") Seguro Médico                    
                    select#seguro(name="seguro" )
                        option(value="") Seleccione...
                        each mutual in mutuales
                            if recepciones.Mutual_Paciente && recepciones.Mutual_Paciente.Mutual && mutual.nombre == recepciones.Mutual_Paciente.Mutual.nombre
                                option(value=mutual.nombre selected) #{mutual.nombre}
                            else
                                option(value=mutual.nombre) #{mutual.nombre}
                
                .grupo-formulario 
                    label(for="codigo_mutual") Credencial Nº
                        if recepciones.Mutual_Paciente
                            input(type="text" value=recepciones.Mutual_Paciente.codigo_mutual placeholder="Ingrese el codigo de la credencial" name="codigo_mutual" minlength="5" maxlength="5")#codigo_mutual
                        else
                            input(type="text" placeholder="Ingrese el codigo de la credencial" name="codigo_mutual" minlength="5" maxlength="5")#codigo_mutual
                        
                .grupo-formulario   
                    label(for="tipo_cobertura") Tipo de Cobertura 
                    if recepciones.Mutual_Paciente
                        select#tipo_cobertura(name="tipo_cobertura")
                            option(value="") Seleccione...
                            if recepciones.Mutual_Paciente.tipo_cobertura == 'Basico'
                                option(value="Basico" selected) Básico
                                option(value="Completo") Completo
                                option(value="Premium") Premium
                            else if recepciones.Mutual_Paciente.tipo_cobertura == 'Completo'
                                option(value="Basico") Básico
                                option(value="Completo" selected) Completo
                                option(value="Premium") Premium
                            else if recepciones.Mutual_Paciente.tipo_cobertura == 'Premium'
                                option(value="Basico") Básico
                                option(value="Completo") Completo
                                option(value="Premium" selected) Premium
                    else
                        select#tipo_cobertura(name="tipo_cobertura")
                            option(value="") Seleccione...
                            option(value="Basico") Básico
                            option(value="Completo") Completo
                            option(value="Premium") Premium

                .grupo-formulario 
                    label(for="activa") Mutual Activa
                    if recepciones.Mutual_Paciente
                        if recepciones.Mutual_Paciente.activa == true
                            select#mutual_activa(name="activa")
                                option(value="") Seleccione...
                                option(value="Activa" selected) Activa
                                option(value="Inactiva") Inactiva
                        else
                            select#mutual_activa(name="activa")
                                option(value="") Seleccione...
                                option(value="Activa") Activa
                                option(value="Inactiva" selected) Inactiva                        
                    else
                        select#mutual_activa(name="activa")
                            option(value="") Seleccione...
                            option(value="Activa") Activa
                            option(value="Inactiva") Inactiva
                         
                h3 Motivo de la Internación
                span
                .grupo-formulario 
                    label(for="motivo") Motivo de la Internación
                    select#motivo(name="motivo" required)
                        option(value="") Seleccione...
                        each motivo in motivos
                            if motivo.tipos == recepciones.Motivo.tipos
                                option(value=motivo.tipos selected) #{motivo.tipos}
                            else                               
                                option(value=motivo.tipos) #{motivo.tipos}
                      
                .grupo-formulario 
                    label(for="detalle_motivo") Detalle de la Internación
                    if recepciones.detalle_motivo
                        textarea(rows="3" placeholder="Ingrese detalles del motivo de la internacion" name="detalle_motivo" value=recepciones.detalle_motivo required)
                    else
                        textarea(rows="3" placeholder="Ingrese detalles del motivo de la internacion" name="detalle_motivo")#detalle_motivo
                
            .botones-accion             
                span 
                button(type="submit" class="boton boton-primario") Continuar
        
        form(action="/enfermeria/pacientesInternados" method="GET" style ="margin-top: -48px;")            
            button(type="submit" class="boton boton-secundario") Atrás           
                
        