extends ../layout

block content  
        .pestanas 
            .pestana 1. Recepci칩n
            .pestana 2. Registro
            .pestana.activa3 3. Asignaci칩n
        .contenido-pestana#asignacion
            h2 Asignacion de Habitacion 
            if paciente
                h3 DNI: #{paciente.dni} | Tipo de Paciente: #{tipo}
            else 
                h3 DNI: #{dni} | Tipo de Paciente: #{tipo} 
            p#texto Seleccione una habitaci칩n disponible para el paciente.

            form(action="/recepcion/asignacion" method="POST")#formulario-recepcion
                input(type="hidden" name="dni" value=dni)
                input(type="hidden" name="tipo" value=tipo)          
                input(type="hidden" name="paciente" value=paciente)
                .grupo-formulario 
                    label(filtro-habitaciones) Filtrar por:
                    select#filtro-habitaciones(onchange="filtrarHabitaciones()")
                        option(value="Todas") Todas las habitaciones
                        option(value="Ala Norte") Ala Norte
                        option(value="Ala Sur") Ala Sur
                        option(value="Ala Este") Ala Este
                        option(value="Ala Oeste") Ala Oeste
                        option(value="Individual") Individual
                        option(value="Compartida") Compartidas
        
                .grid-habitaciones#contenedor-habitaciones            

                .botones-accion 
                    button.boton.boton-secundario(type="button" onclick="history.back()") Atr치s
                    button.boton.boton-primario(type="submit") Asignar Habitacion

                script(src="/scriptAsignacionHabitacion.js")    